@model Managely.Models.ViewModel.EmployeeProfileViewModel

<input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />

<form class="col s12">
    <div class="row">
        <div class="input-field col s6">
            <input @Model.Name placeholder="John" id="name" type="text" class="validate" disabled>
            <label for="name">Nombre</label>
        </div>
        <div class="input-field col s6">
            <input @Model.LastName placeholder="Doe" id="last_name" type="text" class="validate" disabled>
            <label for="last_name">Apellido</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input value="@Model.Phone" placeholder="+5411122233344" id="phone" type="text" class="validate">
            <label for="phone">Teléfono</label>
        </div>
        <div class="input-field col s4">
            <input value="@Model.Email" placeholder="Email" id="email" type="text" class="validate" disabled>
            <label for="email">Email</label>
        </div>
        <div class="input-field col s4">
            <select id="location-select"></select>
            <label for="location-select">Ubicación</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input value="@Model.JobPosition" placeholder="Cargo" id="jobPosition" type="text" class="validate" disabled>
            <label for="jobPosition">Cargo</label>
        </div>
        <div class="input-field col s4">
            <input value="@Model.Department" placeholder="Departamento" id="department" type="text" class="validate" disabled>
            <label for="department">Departamento</label>
        </div>
        <div class="input-field col s4">
            <input value="@Model.ReportsTo" placeholder="Reporta a" id="reportsTo" type="text" class="validate" disabled>
            <label for="reportsTo">Reporta a</label>
        </div>
    </div>
    <div class="row">
        <div class="col right">
            <button onclick="updateEmployee()" class="btn waves-effect waves-light" type="button" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>

<script>
  $(document).ready(async function() {
      await populateLocationSelect();      
      $('select').formSelect();
  });
  
  async function updateEmployee() {
        const employeeId = $('input[name="EmployeeId"]').val();
        const phone = $('#phone').val();
        const location = $('#location-select').val();
        
        const data = {
            phone: phone,
            location: location
        };
        
        const response = await fetch('/api/employees/' + employeeId, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        
        const json = await response;
        if (json.status === 200) {
            const toastHTML = '<span>Se actualizó el empleado correctamente</span>';

            M.toast({html: toastHTML, classes: 'green'});
        } else {
            const toastHTML = '<span>No se pudo actualizar el empleado</span>';
            M.toast({html: toastHTML, classes: 'red'});
        }
  }
  
  async function populateLocationSelect() {
        const response = await fetch('https://restcountries.com/v3.1/region/ame');
        const locations = await response.json();
        const select = document.getElementById('location-select');
        locations.forEach(location => {
            const option = document.createElement('option');
            if (location.name.common === "@(Model.Location)") {
                option.selected = true;
            }
            option.value = location.name.common;
            option.innerText = location.name.common;
            select.appendChild(option);
        });
  }
</script>